html {
    font-size: 14px;
  }
   @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  } 
    .principal {  
        max-width: 915px;  
        margin: 0 auto;        
    }  
    
    .counter {
      min-width: 218px;
      margin: 0 auto;
    }
  .container {
    max-width: 960px;
  }
  
  .pricing-header {
    max-width: 700px;
  }
  
  .card-deck .card {
    min-width: 220px;
  }

  .hidden {
    visibility: hidden;
  }

  .order-button {
    float: right;
  }

  /*body {
    /*background-image: url("../images/frutas2.jpg");
    background-color: #e6ffb7;
   }

   .card {
    background-image: url("../images/frutas.jpg");
    background-color: #ffffff;
   }

   .header {
    background-image: url("../images/frutas2.jpg");
    background-color: #83cf3b;
   }*/


   